name: Deploy docs

on:
  push:
    branches:
      - v*
      - dev

permissions:
  contents: write

jobs:
  docs:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Load ~/.local cache
        uses: actions/cache@v4
        with:
          path: ~/.local
          key: dotlocal-${{ hashFiles('.github/workflows/docs.yml') }}

      - name: Load virtual environment cache
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ hashFiles('pyproject.toml', 'poetry.lock') }}-docs

      - name: Install poetry
        uses: snok/install-poetry@v1
        with:
          version: '1.8.3'
          virtualenvs-create: true
          virtualenvs-in-project: true
          virtualenvs-path: .venv

      - name: Install dependencies
        run: poetry install --only docs

      - name: Prepare environment
        run: |
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          echo "SOURCE_DATE_EPOCH=$(git log -1 --format=%ct docs mkdocs.yml)" >> "${GITHUB_ENV}"

      - name: Deploy docs
        run: |
          VERSION="${GITHUB_REF_NAME}"
          [ "${GITHUB_REF_NAME}" == "dev" ] && VERSION="v1.0.x"
          poetry run mike deploy --push --branch gh-pages "${VERSION}"
